# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "posthog-js"
        update-types: ["version-update:semver-patch"]
    groups:
      devDependencies:
        dependency-type: "development"
      react-query:
        patterns:
          - "@tanstack/react-query*"
      react:
        patterns:
          - "react"
          - "@types/react"
          - "react-dom"
      i18next:
        patterns:
          - "i18next"
          - "react-i18next"
      faro:
        patterns:
          - "@grafana/faro*"
      azure:
        patterns:
          - "@azure/*"
