name: Build branch

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.x
          cache: "npm"
          registry-url: "https://npm.pkg.github.com"

      - name: Run npm install and build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # if needed
        run: |
          npm ci
          npm run build
